* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html,
body,
#root {
  height: 100%;
  background:linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ddd;
  -webkit-font-smoothing: antialiased !important;
}